.header {
	text-align: center;
	background-color: blue;
	font-family: "Times New Roman", Times, serif;
	font-size: xx-large;
	font-style: italic;
	color: lime;}

.tagline{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	background-color: blue;
	color: lime;}

.skills {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	list-style-type: square;;
	padding-bottom: 20px;
	font-size: large;
	background-color: blue;
	color: lime;}


.contact {
	text-align: center;
	sfont-family: Arial, Helvetica, sans-serif;
	font-size: large;
	background-color: blue;
	color: lime;}
	
a {
    color: hotpink;
}

html {
	background-color: blue;
}

h3 {
	font-style: bold;
	text-decoration: underline;
}
